

header {
background-color: mediumvioletred;
color: #ffffff;
padding: 20px 0;
text-align: center;
position: fixed;
top: 0;
width: 100%;
}



nav {
display: flex;
justify-content: center;
gap: 25px;
}

nav a {
color: #ffffff;
text-decoration: none;
padding: 10px;
}

.hero {
    background-image: url('telegraph/img/avatar3.jpg');
    background-size: cover;
    background-position: center;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: wheat;
}